/**
* I think element-ui's default theme color is too light for long-term use.
* So I modified the default color and you can modify it to your liking.
**/

/* theme color */
$--color-primary: #1D8AFA;
$--color-success: #5CB87A;
$--color-warning: #F0AD4E;
$--color-danger: #D65D5A;
$--color-info: #3378C0;

/* text color */
$--color-text-regular: #333333;
$--color-text-placeholder: #909399;

$--border-color-light: #dfe4ed;
$--border-color-lighter: #e6ebf5;

$--table-border: 1px solid #dfe6ec;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
// :export {
//   theme: $--color-primary;
// }
