#app {

  .navbar-container {
    height: $navBarHeight;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    color: $navBarText;
    background: $navBarBg;

    .navbar-logo-container {
      position: relative;
      display: inline-block;
      height: $navBarHeight;
      line-height: $navBarHeight;
      background: transparent;
      text-align: left;
      margin-left: 16px;
      overflow: hidden;

      & .navbar-logo-link {
        height: 100%;
        width: 100%;

        & .navbar-logo {
          width: 36px;
          height: 36px;
          vertical-align: middle;
          margin-right: 16px;
        }

        & .navbar-title {
          display: inline-block;
          margin: 0;
          font-size: 18px;
          vertical-align: middle;
        }
      }
    }

    .right-menu {
      float: right;
      height: 100%;
      line-height: $navBarHeight;

      &:focus {
        outline: none;
      }

      .right-menu-item {
        display: inline-block;
        height: 100%;
        vertical-align: text-bottom;
      }

      .avatar-container {
        margin-right: 16px;
        color: #FFF;

        .avatar-wrapper {
          cursor: pointer;
          .user-avatar {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            vertical-align: middle;
          }
          .user-name {
            margin: 0 12px;
            vertical-align: middle;
          }
          .el-icon-caret-bottom {
            font-size: 12px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
