// base color
$primary: #1D8AFA;
$success: #5CB87A;
$warning: #F0AD4E;
$danger: #D65D5A;
$info: #3378C0;

// sidebar
$menuText:#333;
$menuActiveText:#1D8AFA;
$subMenuActiveText:#1D8AFA;

$menuBg:#FFF;
$menuHover:#F0F9FF;

$subMenuBg:#FFF;
$subMenuHover:#F0F9FF;

$sideBarWidth: 220px;
$sideBarHideWidth: 60px;

// navbar
$navBarBg: #313848;
$navBarText: #FFF;
$navBarHeight: 60px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  navBarBg: $navBarBg;
  navBarText: $navBarText;
  navBarHeight: $navBarHeight;
}
